
<app-header></app-header>
  
  <div>
    <div *ngIf="alertMessageTrm.type" class="container" >
      <h1 name="trm-value" style="text-align: -webkit-center;" > {{alertMessageTrm.succesfull}} </h1>
    </div>
    <div *ngIf="!alertMessageTrm.type" class="container" >
      <h1 name="trm-value" style="text-align: -webkit-center; font-size: 22px;" > {{alertMessageTrm.error}} </h1>
    </div>
  </div>

  <div class="container" >
    <app-parqueadero></app-parqueadero>
  </div>
<app-footer></app-footer>
