<mat-tab-group dynamicHeight>
  <mat-tab label="Vehiculos Parqueados" (click)="ngOnChanges()" >

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="vehiculos">

          <ng-container matColumnDef="placa">
            <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
            <mat-cell *matCellDef="let vehiculo"> {{vehiculo.placa}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let vehiculo"> {{vehiculo.tipo}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="fechaIngreso">
            <mat-header-cell *matHeaderCellDef> Fecha Ingreso </mat-header-cell>
            <mat-cell *matCellDef="let vehiculo"> {{vehiculo.fechaIngreso}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="salida">
              <mat-header-cell *matHeaderCellDef> Salida del Parqueadero </mat-header-cell>
              <mat-cell *matCellDef="let vehiculo"><button id="{{vehiculo.placa}}-salida-submit" (click)="getSalidaVehiculoParqueadero( vehiculo.id )"  mat-button color="primary">Salida</button></mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <div *ngIf="alertMessageSalida.status" class="alert_message">
        <div *ngIf="alertMessageSalida.type" class="alert alert-success">
          <a name="salida-successful-alert" class="alert-link">{{ alertMessageSalida.succesfull.tipo }} con placa {{ alertMessageSalida.succesfull.placa }} a salido del parqueadero con Exito!</a>.
        </div>
        <div *ngIf="!alertMessageSalida.type"  class="alert alert-danger">
          <a name="salida-error-alert">{{ alertMessageSalida.error }}.. </a>
        </div>
      </div>

  </mat-tab>

  <mat-tab label="Ingresar Vehiculo" name="ingresar-vehiculo-tab">
    <mat-tab-group>
      <mat-tab label="Moto" name="ingresar-vehiculo-moto-tab">      
        <form #motoform="ngForm" >
          <div class="example-container">
            <mat-form-field>
              <input matInput type="text" placeholder="Placa del vehiculo" class="form-control" name="placa-moto" [(ngModel)]="vehiculo.placa" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" maxlength="5"  placeholder="Cilindraje" name="cilindraje" [(ngModel)]="vehiculo.cilindraje" required>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary" id="ingresar-vehiculo-moto-submit" (click)="ingresarMotoParqueadero(vehiculo)">Ingresar</button>

          <div *ngIf="alertMessageMoto.status">
            <div *ngIf="alertMessageMoto.type" class="alert alert-success">
              <a name="ingreso-vehiculo-moto-successfull-alert" class="alert-link">Moto con placa {{ alertMessageMoto.succesfull }} Parqueado Exito!</a>.
            </div>
            <div *ngIf="!alertMessageMoto.type" class="alert alert-danger">
              <a name="ingreso-vehiculo-moto-error-alert" >{{ alertMessageMoto.error }}.</a> 
            </div>
          </div>      
        </form>
      </mat-tab>
      
      <mat-tab label="Carro" name="ingresar-vehiculo-carro-tab">
        <form #carroform="ngForm" >
          <div class="example-container">
            <mat-form-field>
              <input matInput type="text" #toPlacaCarroField placeholder="Placa de Vehiculo" class="form-control" name="placa-carro" [(ngModel)]="vehiculo.placa" required>
            </mat-form-field>
          </div>
    
          <button type="submit" class="btn btn-primary" id="ingresar-vehiculo-carro-submit" (click)="ingresarCarroParqueadero(vehiculo)">Ingresar</button>
          
          <div class="alert_message" *ngIf="alertMessageCarro.status">
            <div *ngIf="alertMessageCarro.type" class="alert alert-success">
              <a  name="ingreso-vehiculo-carro-successfull-alert" class="alert-link">Carro con placa {{ alertMessageCarro.succesfull }} Parqueado Exito!</a>.
            </div>
  
            <div *ngIf="!alertMessageCarro.type" class="alert alert-danger">
              <a> <strong>{{ alertMessageCarro.error }}.</strong> .</a>
            </div>
          </div>

        </form>
      </mat-tab>

    </mat-tab-group>
    
  </mat-tab>
</mat-tab-group>


